includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 0
    reportUnmatchedIgnoredErrors: false
    paths:
        - app/Http/Controllers/Auth
        - app/Http/Controllers/Public
        - app/Services/Domain/Auth
        - app/Services/Domain/Registration
        - app/DTOs/Auth
        - app/Http/Requests/Auth
        - app/Http/Requests/Public
        - app/Http/Requests/Candidats
        - app/Enums
        - app/Models
        - app/Providers
        - routes
    excludePaths:
        - app/Models/ConcoursFiliere.php
    tmpDir: build/phpstan
