route:
  group_by: [ "alertname" ]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h
  receiver: "email-notifications"
receivers:
  - name: "email-notifications"
    email_configs:
      - to: ${SMTP_TO}
        from: ${SMTP_FROM}
        smarthost: "${SMTP_HOST}:${SMTP_PORT}"
        auth_username: ${SMTP_USERNAME}
        auth_password: ${SMTP_PASSWORD}
